/* CSS Document */

html, body {
	background:#fff url('images/headerbg.jpg')  repeat-x top center;
	margin: 0px;
	font-family:'Arial', Arial, sans-serif;
	font-size:100%;
	text-align:center;
	color:#000;
	} 

#wrapper {
	position:absolute;
	width:100%;
	top:0px;
	left:auto;
	right:auto;
	}

#container {
	position:relative;
	width:960px;
	margin:0 auto;
	top:0px;
	padding-bottom:20px;
	}

/* Links */
A:link {text-decoration: none; font-weight:bold; color:#333;}
A:visited {text-decoration: none; font-weight:bold; color:#333;}
A:active {text-decoration: none;  font-weight:bold; color:#333;}
A:hover {text-decoration: underline; font-weight:bold; color:#990000;}

#menu A:link {text-decoration: none; font-weight:bold; color:#fff;	font-size:90%;}
#menu A:visited {text-decoration: none; font-weight:bold; color:#fff;	font-size:90%;}
#menu A:active {text-decoration: none;  font-weight:bold; color:#fff;	font-size:90%;}
#menu A:hover {text-decoration: underline; font-weight:bold; color:#FF9900;	font-size:90%;}

/* Header */
#header {
	margin-top:0px;
	height:350px;
	background:transparent url('images/header-admin.jpg') no-repeat bottom center;
	}


/* Menu */

#menu {
	margin-left:50px;
	margin-right:50px;
	width:860px;
	}

.nav {
	width:100%;
	font-size:90%;
	}
	
ul.nav, .nav ul {
	/*Remove all spacings from the list items*/
	margin: 0;
	padding: 0;
	cursor: default;
	list-style-type: none;
	display: inline;
	}

ul.nav {
	display: table;
	}

ul.nav>li{
	display: table-cell;
	position: relative;
	padding-top:20px;
	padding-left:10px;
	padding-right:10px;
	text-align:center;
	}

.nav ul li a{
/*Make the hyperlinks as a block element, sort of a hover effect*/
	display: block;
	padding: 2px 10px;
}

/* Content */

#content {
	margin-left:45px;
	width:863px;
	min-height:200px;
	padding:0px;
	background:#fff;
	}

p.title {
	line-height:34px;
	padding-left:25px;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:115%;
	font-weight:bold;
	color:#FFCC33;
	}

.subtitle {
	margin-top:10px;
	margin-bottom:10px;
	padding-left:25px;
	width:100%;
	height:20px;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:100%;
	font-weight:bold;
	font-style:italic;
	color:#000;
	}

.subtitle2 {
	margin-top:10px;
	margin-bottom:10px;
	padding-left:25px;
	width:100%;
	height:20px;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:90%;
	font-weight:bold;
	font-style:italic;
	color:#000;
	}

p.text	{
	margin-top:10px;
	padding-left:25px;
	width:100%;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:90%;
	color:#000;
	}
	
/* Footer */

#wrapperfooter {
	position:relative;
	background:#fff url('images/footerbg.jpg') repeat-x bottom center;
	width:100%;
	padding:0 0 2em;
	height:75px;
	left:0px;
	}

#footer {
	width:960px;
	margin:0 auto;
	text-align:left;
	overflow:hidden;
	padding:0px;
	}
	

/*Admin Log-in*/

.admin {
	width:400px;
	margin-top:50px;
	text-align:left;
	font-family:'Arial', Arial, sans-serif;
	font-size:65%;
	font-weight:bold;
	color:#333333;
	}

.admin input
{
font-family:'Arial', Arial, sans-serif;
font-size:65%;
color: #fff;
background: #333333;
border: 1px solid #fff;
line-height:13px;
}

.admin .submit input
{
color: #fff;
background: #333333;
border: 1px outset #000;
line-height:10px;
font-family:'Arial', Arial, sans-serif;
font-weight:bold;
font-size:90%;
} 