/* CSS Document */

A:link {text-decoration: none; color:#0066cc; font-weight:bold;}
A:visited {text-decoration: none; color:#0066cc; font-weight:bold;}
A:active {text-decoration: none;  color:#0066cc; font-weight:bold;}
A:hover {text-decoration: none; color:#993399; font-weight:bold;}

#menu A:link {text-decoration: none; color:#993399; font-weight:bold;}
#menu A:visited {text-decoration: none; color:#993399; font-weight:bold;}
#menu A:active {text-decoration: none;  color:#993399; font-weight:bold;}
#menu A:hover {text-decoration: none; color:#0066CC; font-weight:bold;}

.footer-text A:link {text-decoration: none; color:#0066CC; font-weight:bold;}
.footer-text A:visited {text-decoration: none; color:#0066CC; font-weight:bold;}
.footer-text A:active {text-decoration: none;  color:#0066CC; font-weight:bold;}
.footer-text A:hover {text-decoration: underline; color:#993399; font-weight:bold;}

#admin-login A:link {text-decoration: none; color:#0066CC; font-weight:bold;}
#admin-login A:visited {text-decoration: none; color:#0066CC; font-weight:bold;}
#admin-login A:active {text-decoration: none;  color:#0066CC; font-weight:bold;}
#admin-login A:hover {text-decoration: none; color:#993399; font-weight:bold;}

* {
	margin: 0px;padding:0px;
}

html, body {
	height:100%;
	background: #CCC url('images/bg.png') repeat-x top left;
	font-family:'Arial', Arial, sans-serif;
	font-size:100%;
	text-align:center;
	color:#000;
	}
	
#invis {
	height:100%;
	width:960px;
	height: auto; 
	min-height: 100%;
	margin:0 auto;
	}

/*Header*/
	
#header {
	background:transparent;
	width:960px;
	height:325px;
	top:0px;
	left:0px;
	z-index:20;
	}

#title-text {
	}

.iframe {
	width:100%;
	border:0;
	height:100%;
	}	

/* Menu */	
#menu {
	position:relative;
	float:left;
	margin-top:-10px;
	padding:0;
	width:175px;
	height:auto;
	text-align:center;
	font-family:'Arial', Arial, sans-serif;
	font-size:75%;
	color:#fff;
	z-index:100;
	}

/*Admin Log-in*/

.admin {
	padding-left:12px;
	text-align:left;
	font-family:'Arial', Arial, sans-serif;
	font-size:90%;
	font-weight:bold;
	color:#0066cc;
	}

.admin input
{
font-family:'Arial', Arial, sans-serif;
color: #993399;
background: #fff;
border: 1px solid #0066CC;
line-height:16px;
font-size:95%;
}

.admin input.submit
{
margin-top:4px;
color: #fff;
background: #0066CC;
border: 1px outset #993399;
font-family:'Arial', Arial, sans-serif;
font-weight:bold;
} 

.account-info {
	padding-top:63px;
	margin-right:20px;
	line-height:30px;
	text-align:right;
	font-family:'Arial', Arial, sans-serif;
	font-size:90%;
	font-weight:bold;
	color:#0066cc;
	}

/* Text Styles */
p.link-top {
	width:152px;
	height:26px;
	background:transparent url('images/linkbg.png') no-repeat top left;
	color:#000;
	margin-bottom:2px;
	padding-top:7px;
	}

p.link-top2 {
	width:152px;
	height:26px;
	background:transparent url('images/linkbg.png') no-repeat top left;
	color:#000;
	padding-top:7px;
	margin-bottom:2px;
	}
	
p.link {
	width:152px;
	height:26px;
	background:transparent url('images/linkbg.png') no-repeat top left;
	color:#000;
	padding-top:7px;
	margin-bottom:2px;
	}

p.link2 {
	width:152px;
	height:26px;
	background:transparent url('images/linkbg.png') no-repeat top left;
	color:#000;
	padding-top:7px;
	margin-left:10px;
	margin-bottom:2px;
	}

/*Content*/

#content {
	width:960px;
	margin-top:20px;
	margin-bottom:50px;
	background:transparent;
	padding-bottom:180px;
	}

.body {
	margin-left:200px;
	width:600px;
	background:transparent;
	z-index:1;
	}

p.title {
	margin-top:25px;
	margin-bottom:10px;
	width:100%;
	height:20px;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:110%;
	font-weight:bold;
	color:#993399;
	}

p.subtitle {
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
	height:20px;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:100%;
	font-weight:bold;
	font-style:italic;
	color:#0066CC;
	}

p.sublinks {
	margin-top:10px;
	margin-bottom:10px;
	width:100%;
	height:20px;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:80%;
	font-weight:bold;
	color:#0066cc;
	}

p.text	{
	margin-top:10px;
	width:100%;
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	font-size:90%;
	color:#000;
	}

p.text-contact	{
	margin-top:10px;
	padding-bottom:5px;
	text-align:right;
	font-family:'Arial', Arial, sans-serif;
	font-size:70%;
	color:#993399;
	}

table, tr, td {
	text-align:justify;
	font-family:'Arial', Arial, sans-serif;
	color:#000;
	font-size:100%;
	}

/*Footer*/

.footer {
	position: relative;
	margin:-180px auto 0px auto;
	height: 180px;
	clear:both;
	background:transparent;
	width:960px;
	text-align:center;
	}

p.footer-text {
	text-align:center;
	line-height:14px;
	font-family:'Arial', Arial, sans-serif;
	font-size:70%;
	color:#666;
	}

p.footer-text2 {
	text-align:center;
	line-height:14px;
	font-family:'Arial', Arial, sans-serif;
	font-size:70%;
	color:#fff;
	}